<header>
  <nav class="navbar">
    <div class="wrapper">
      <mat-toolbar color="warn">
        <a routerLink="/movies" matTooltip="Home" aria-label="Go to Home">
          <mat-icon style="margin-right: 0.5rem">theaters</mat-icon>
          <span>myVHS-A</span>
        </a>

        <span style="flex: 1 1 auto"></span>
        <button
          mat-icon-button
          matTooltip="Favorites list"
          aria-label="Go to Favorites list"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="To-Watch list"
          aria-label="Go to To-Watch list"
        >
          <mat-icon>watch_later</mat-icon>
        </button>
        <button
          routerLink="/profile"
          mat-icon-button
          matTooltip="Profile"
          aria-label="Go to Profile"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
        <button
          (click)="logout()"
          mat-icon-button
          matTooltip="Log out"
          aria-label="Log out"
        >
          <mat-icon>power_settings_new</mat-icon>
        </button>
        <!-- <button
          mat-icon-button
          matTooltip="Menu"
          aria-label="Navigation bar menu"
        >
          <mat-icon>menu</mat-icon>
        </button> -->
      </mat-toolbar>
    </div>
  </nav>
</header>
