<mat-card>
  <mat-card-header>
    <mat-card-title>Log in</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <!-- Username -->
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.username"
          placeholder="Username"
          type="text"
          name="Username"
          required
        />
        <button
          *ngIf="userData.username"
          matSuffix
          mat-icon-button
          aria-label="Clear username input"
          (click)="userData.username = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <!-- Password -->
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.password"
          type="password"
          placeholder="Password"
          name="Password"
          required
        />
        <button
          *ngIf="userData.password"
          matSuffix
          mat-icon-button
          aria-label="Clear password input"
          (click)="userData.password = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="loginUser()" color="primary">
      Log in
    </button>
  </mat-card-actions>
</mat-card>
