.main-page {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 0.5rem;
}

.main-page > div:nth-child(2) {
  margin: 0.5rem 0;
}

.red-a {
  color: #dd0031;
  font-weight: 500;
}

button {
  min-width: 100px;
  margin: 0.5rem 1rem;
}
